# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE and build output folders
.idea/
build/
cmake-build-*/
docs/
Publish/
Scripting/binding/.vs
Scripting/binding/Temp/
Scripting/binding/.idea/


# Specific dependency folders
skia-win-x64/

# Archives
*.zip

# External dependencies rule:
# Ignore all contents of the External/ directory...
External/*

# ...but DO NOT ignore the CMakeLists.txt file and the cmake/ directory inside it.
!External/CMakeLists.txt
!External/cmake/
*.gz
Android
wiki/
.kiro